@import '../../../../styles/vars'

.List
	position: relative
	width: 25%
	max-width: 320px
	min-width: 295px
	margin-right: 20px
	border-radius: 10px
	box-sizing: border-box
	transition: opacity .2s

	&__cards
		min-height: 65px
		padding: 0 8px 0 20px
		box-sizing: border-box
		// TODO: Вынести эти отступы в переменные
		// max-height: calc(100vh - 66px - 66px - 57px - 100px)
		max-height: calc(100vh - 65px - 65px - 50px - 100px)
		overflow-y: scroll	

	&__header
		display: flex
		justify-content: space-between
		align-items: center
		outline: none

	&__body
		padding: 20px 0 10px
		background-color: $light
		border-radius: 10px

	&__title
		font: 18px $bold
		padding: 15px 20px
		flex: 1
		color: white
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden

	&__dropdown
		position: relative
		padding-right: 10px

		.DropDown
			right: 0

		&-btn
			cursor: pointer
			padding: 10px
			opacity: .4
			transition: opacity .2s
			svg
				fill: white
			&--active, &:hover
				opacity: 1

		&-item
			white-space: nowrap
			cursor: pointer
			transition: color .2s
			&:hover
				color: $orange1


	&__addCardBtn
		margin-top: 10px
		padding: 10px 20px
		box-sizing: border-box
		cursor: pointer
		color: $black
		transition: color .3s
		&:hover
			color: $orange1

	&__addListBtn
		width: 25%
		max-width: 320px
		min-width: 294px
		font-size: 16px
		color: white
		padding: 18px 30px
		box-sizing: border-box
		border-radius: 10px
		// background-color: rgba(255, 255, 255, .1)
		cursor: pointer
		user-select: none
		transition: background .3s, color .3s

		&:hover
			// background-color: rgba(255, 255, 255, .2)
			background-color: rgba(255, 255, 255, .1)
		&:active
			background: $gradient

	&__addCardForm
		padding-top: 20px

	&--dragging
		.List__body
			background-color: #E9EBEC
			box-shadow: $shadow
