@import '../../../../styles/vars'

.EditModal
	&__title
		font: 18px $bold

	&__date, &__timepicker
		position: relative
		flex: 1

	&__title
		margin-bottom: 5px

	&__info
		margin-top: 30px
		cursor: pointer

		svg
			transform: translateY(3px)
			margin-right: 10px


	&__calendar, &__time
		position: absolute
		top: 60px
		left: -30px
		width: 100%
		box-shadow: $shadow
		z-index: 2

	&__calendar
		min-width: 340px

	&__time
		min-width: 220px

	&__row
		display: flex