@import '../../../../styles/vars'

.Add__form
	width: 100%
	padding: 0 20px
	box-sizing: border-box
	margin-bottom: 10px

	textarea
		width: 100%
		min-height: 80px
		max-height: 200px
		resize: vertical
		outline: none
		border-radius: 10px
		border: 1px solid $gray
		padding: 8px 14px
		box-sizing: border-box
		color: $dark
		font: 16px/30px $regular
		transition: border .3s
		&:focus
			border: 1px solid $orange1

