$black: #1F252D
$dark: #383F52
$gray: #8DA4B9
$light: #F7F7F8
$orange1: #FA7312
$orange2: #FFC737
$red: #FF1834
$green: #6CE035

$regular: 'CirceRounded', sans-serif
$bold: 'CirceRoundedBold', sans-serif