$black: #1F252D
$dark: #383F52
$gray: #8DA4B9
$light: #F7F7F8
$light2: #E9EBEC
$orange1: #2E68FC
$orange2: #4FD5FF
$border-radius: 10px
$red: #FF1834
$green: #6CE035

$gradient: linear-gradient(114deg, $orange1 0%, $orange2 100%)

$shadow: 0 20px 25px 0 rgba(0, 0, 0, .05)

$regular: 'CirceRounded', sans-serif
$bold: 'CirceRoundedBold', sans-serif