@import '~reset-css'
@import './vars'

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-family: $regular
	font-weight: normal
	color: $black

h1
	font: 30px $regular

h2
	font: 20px $regular

.container
	width: 97%
	max-width: 1200px
	margin: 0 auto

.page
	padding: 50px 0