@import '~reset-css'
@import './vars'

*
	margin: 0
	padding: 0
	box-sizing: border-box

::selection 
	background: $light
	color: $black

body
	font-family: $regular
	font-weight: normal
	color: $black

h1
	font: 30px $regular

h2
	font: 20px $regular

.container
	width: 97%
	max-width: 1200px
	margin: 0 auto

.page
	padding: 110px 0 50px

.Lazy
	position: relative
	width: 100%
	height: 20px